[submodule "VivaGraphJS"]
	path = VivaGraphJS
	url = https://github.com/anvaka/VivaGraphJS
[submodule "elm-webaudio"]
	path = elm-webaudio
	url = https://github.com/corajr/elm-webaudio
	branch = tasks
